/*
    Global CSS for all scenes
*/
.root {
  -fx-gc-dark-gray: #292929;
  -fx-gc-gray: #494949;
  -fx-gc-mid-gray: #585858;
  -fx-gc-light-gray: #808080;
  -fx-gc-black-faded: rgba(0, 0, 0, 0.33);

  -fx-gc-white: #fff;
  -fx-gc-black: #000;

  -fx-gc-primary: #82d6fa;
  -fx-gc-secondary: #1565c0;
}

.center {
  -fx-alignment: center;
}

.default-background {
  -fx-background-color: -fx-gc-dark-gray;
  -fx-alignment: center;
}

.default-label {
  -fx-text-fill: -fx-gc-white;
}

.game-stats-label {
  -fx-text-fill: -fx-gc-white;
  -fx-font-size: 16;
  -fx-font-family: "Roboto Light";
}

.reversi-extra-turn-label {
  -fx-text-fill: #11AA11;
}

.text-heading {
  -fx-font-family: "Roboto Light";
  -fx-font-size: 42;
}

.text-h1 {
  -fx-font-family: "Roboto Light";
  -fx-font-size: 28;
}

.text-h2 {
  -fx-font-family: "Roboto Light";
  -fx-font-size: 24;
}

.text-h3 {
  -fx-font-family: "Roboto Light";
  -fx-font-size: 18;
}

.input-field {
  -fx-text-inner-color: -fx-gc-white;
  -jfx-focus-color: -fx-gc-primary;
  -jfx-unfocus-color: -fx-gc-light-gray;
}

.drawerBox {
  -fx-background-color: -fx-gc-dark-gray;
}

#faded {
  -fx-background-color: -fx-gc-black-faded;
}

.drawerTitleBox {
  -fx-border-width: 0px 0px 1px 0px;
  -fx-border-color: -fx-gc-light-gray;
  -fx-cursor: hand;
}

.lobbyEntry {
  -fx-cursor: hand;
}

.lobbyEntryLabel {
  -fx-text-fill: white;
  -fx-font-size: 18;
}

.selectEntry {
  -fx-cursor: hand;
}

.aiSelectLabel {
  -fx-text-fill: white;
  -fx-font-size: 18;
}

.fadePaneActive {
  -fx-background-color: -fx-gc-black-faded;
}

.profileHeaderLabel {
  -fx-text-fill: -fx-gc-white;
  -fx-font-size: 22;
}

.bottomBorder {
  -fx-border-width: 0px 0px 1px 0px;
  -fx-border-color: -fx-gc-light-gray;
}

.jfxSpinner-blueGradient .arc {
  -fx-stroke: linear-gradient(to top right, -fx-gc-primary, -fx-gc-secondary);
}

/* Dialogs */
.dialog {
  -fx-background-color: -fx-gc-black-faded;
}

.dialogContent {
  -fx-background-color: -fx-gc-dark-gray;
}

/* buttons */
.borderButton {
  -fx-border-color: -fx-gc-gray;
  -fx-text-fill: -fx-gc-primary;
  -fx-border-radius: 3px;
  -fx-cursor: hand;
}

.gcButton {
  -fx-text-fill: -fx-gc-white;
  -fx-font-size: 18;
}

.gcBoldButton {
  -fx-background-color: -fx-gc-primary;
  -fx-border-radius: 3px;
  -fx-text-fill: -fx-gc-black;
  -fx-font-size: 14;
  -fx-text-alignment: center;
  -fx-cursor: hand;
}

.gcBoldButton .jfx-rippler {
  -jfx-rippler-fill: -fx-gc-white;
}

/*Game components*/
.game-gridpane {
  -fx-background-color: -fx-gc-mid-gray;
}

.game-gridfield {
  -fx-background-color: rgba(0, 0, 0, 0);
}

.game-gridfield:hover {
  -fx-background-color: -fx-gc-light-gray;
}

.game-gridfield.hint {
  -fx-background-color: -fx-gc-dark-gray;
}

.game-gridfield.hint:hover {
  -fx-background-color: -fx-gc-gray;
}

.game-lobby-Box {
  -fx-border-radius: 3px;
  -fx-border-color: -fx-gc-gray;
  -fx-border-width: 1px;
}

.game-lobby-Box-teaser {
  -fx-background-color: -fx-gc-gray;
}

/* JFX slider */
.jfx-slider > .track {
  -fx-background-color: -fx-gc-gray;
}

.jfx-slider > .thumb {
  -fx-background-color: -fx-gc-secondary;
}

.jfx-slider > .colored-track {
  -fx-background-color: -fx-gc-primary;
}

.jfx-slider > .animated-thumb {
  -fx-background-color: -fx-gc-secondary;
}

.jfx-slider .slider-value {
  -fx-fill: -fx-gc-white;
  -fx-stroke: -fx-gc-white;
}

.jfx-toggle-button {
  -jfx-toggle-color: -fx-gc-primary;
  -jfx-untoggle-color: -fx-gc-white;
  -jfx-toggle-line-color: -fx-gc-secondary;
  -jfx-untoggle-line-color: -fx-gc-gray;
  -jfx-size: 10.0;
  -jfx-disable-visual-focus: false;
  -fx-text-fill: -fx-gc-white;
  -fx-font-size: 18;
}